.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  box-sizing: border-box;
  color: #fff;
  margin: 0;

  padding: 60px 100px 80px 60px;
}

.footer__content {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;
}

.footer__logo {
  margin: 0;
  padding: 0;
  width: 116px;
  height: 21px;
}

.footer__social-heading {
  margin: 0;
  padding: 0 0 20px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.footer__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.footer__list-item {
  padding-bottom: 16px;
}

.footer__social-link {
  color: #fff;
  text-decoration: none;
  transition: color 1s;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  padding-right: 10px;
}

.footer__copyright {
  margin: 0;
  padding: 108px 0 0;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}
