.header {
  background: center / cover no-repeat url(../images/background_header.svg);
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  margin: 0;
  padding: 30px 80px 40px 80px;
  position: relative;
  box-sizing: border-box;
}

.header__title {
  max-width: 729px;
  margin: 0;
  padding-top: 202px;
  padding-bottom: 20px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  /* I gave this element the relative position property and a z-index of 1 so that the text will cover the image when the screen is smaller */
  position: relative;
  z-index: 1;
}

.header__span-accent {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  max-width: 683px;
  /* I gave this element the relative position property and a z-index of 1 so that the text will cover the image when the screen is smaller */
  position: relative;
  z-index: 1;
}

.header__image {
  height: 568px;
  width: 646px;
  position: absolute;
  top: 124px;
  right: 5px;
  /* I gave this element a z-index of 0 so that it doesn't cover the heading and description text when the screen is smaller */
  z-index: 0;
}

.header__footer {
  position: absolute;
  left: 0px;
  bottom: 40px;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 40px 80px 0px;
  width: 100%;
  display: flex;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header__hours {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.header__paragraph {
  margin: 0;
  padding: 0;
  z-index: 1;
}
