.recipes {
  background-color: #0a2750;
  background-image: url(/images/background_recipes.svg);
  background-size: cover;

  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 100px 0 215px;
}

.recipes__title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #ffffff;
  max-width: 580px;
  padding: 0px 0px 24px 80px;
  margin: 0;
}

.recipes__subtitle {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  margin: 0;
  padding-top: 0;
  padding-left: 80px;
  padding-bottom: 80px;
  max-width: 438px;
}

.recipes__videos {
  display: flex;
  list-style-type: none;
  margin: 0 auto;
  padding-left: 0;
  gap: 80px;

  justify-content: center;
}

.recipes__video {
  margin: 0;
  padding-top: 0;
  padding-bottom: 24px;
}

.recipes__iframe {
  border: none;
  width: 480px;
  height: 270px;
}

.recipes__caption {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
